# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.UnityUtils.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\canni\Documents\Code\Unity\Utils\UnityUtils\.idea\.idea.UnityUtils\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
